name: Generate Snake

on:
  schedule:
    # Her 24 saatte bir çalıştır
    - cron: "0 0 * * *" 
  
  # Manuel çalıştırma butonu ekler
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: Platane/snk@v3
        with:
          # GitHub kullanıcı adın buraya
          github_user_name: batuozcamlik
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
